a{
    width: 200px;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 25px;
}

a:link, a:visited {
  background-color: #f44336;
}

a:hover, a:active {
  background-color: red;
}