.mainSection{    
    padding: 0px;
    margin: 0 auto;
}

.contentSection{
    padding-top: 10px;
    margin: 0px;
    min-height: 200px;
}

.view{
    margin-top: 5px;
    padding-left: 20px;
    min-height: 150px;
}

.menuBar{
    margin-left: 15px;
    align-content: center;
    text-align: center;
}

ul {
    width: 825px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: red;
}

li {
    float: left;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

li:last-child {
    float: right;
    border-right: none;
    border-bottom: 1px solid green;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li a:active {
    background-color: green;
}

.active{
    background-color: green;
    text-align: center;
}