table{
    margin-top: 20px;
    width: auto;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
}

td{
    padding: 5px;
    border: 1px solid black;
}


th{
    border: 1px solid black;
    padding: 2px;
    color: red;
}

input{
    width: 250px;
}

th input{
    width: 100px;
    background-color: red;
    font-weight: bold;
    color: white;
}