table{
    margin-top: 20px;
    width: auto;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
}

td{
    padding: 5px;
    border: 1px solid black;
}


th{
    border: 1px solid black;
    padding: 2px;
    color: red;
}

.view a{
    display: inline-block;
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
}


.view a:link, .view a:visited {
  background-color: darkred;
}

.view a:hover, .view a:active {
  background-color: red;
}
